<div class="home-banner">
  <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
